:markdown
  # Let's get you set up to Prattle.

  - [Set up a new GitHub application][new-app]. Set both the **URL** and **Callback URL** to

        #{url('/')}

  - Configure this Heroku app:

        $ heroku config:set GITHUB_CLIENT_ID=... GITHUB_CLIENT_SECRET=...

  - Refresh this page.

  [new-app]: https://github.com/settings/applications/new
